body {
  width: 1600px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
  background: #fff;
}

/* блок с шапкой сайта */
.header-container {
  height: 80px;
  display: flex;
  border: 1px solid #ececec;
}

/* блок с логотипом */
.logo-container {
  width: 145px;
  height: 31px;
  margin: 24px 0 25px 215px;
  text-align: center;
}

/* оформление логотипа */
.logo-link {
  text-decoration: none;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.85em;
  letter-spacing: 0.03em;
}

.logo-first-word {
  color: #2196f3;
}

/* оформление навигации */
nav {
  display: flex;
}

/* блок ссылок навигации */
.navigation-container {
  width: 294px;
  margin: 32px 0 32px 93px;
}

/* блок контактов */
.contact-container {
  width: 307px;
  margin: 32px 0 32px 331px;
}

/* оформление навигации */
.navigation-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.contact-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navigation-link,
.mailto-link,
.tel-link {
  color: #212121;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.navigation-link:hover,
.mailto-link:hover,
.tel-link:hover {
  color: #2196f3;
}

/* Офорление контента index.html */

/* секия Hero */
.hero-section {
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: #2f303a;
}

.hero-section-header {
  width: 696px;
  height: 120px;
  margin: 200px 452px 0 452px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.14em;
  letter-spacing: 0.06em;
  color: #fff;
}

.order-btn {
  width: 200px;
  height: 50px;
  margin: 30px 700px 0 700px;
  border: 0;
  border-radius: 4px;
  font-size: 1.14em;
  background: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.order-btn:hover {
  cursor: pointer;
}

/* секция особенности */
.features-section {
  width: 1170px;
  height: 101px;
  margin: 94px 215px 0 215px;
  display: flex;
}

.hidden-header {
  display: none;
}

.features-section-list {
  width: 100%;
  height: 100%;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.features-section-list-item {
  width: 270px;
  height: 101px;
}

.features-section-list-item-header {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14em;
  letter-spacing: 0.03em;
}

.features-section-list-item-paragraph {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}

/* Секция Чем мы занимаемся */
.doing-section {
  width: 1170px;
  height: 386px;
  margin: 94px 215px 0 215px;
}

.doing-section-header {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  font-size: 2.57em;
  letter-spacing: 0.03em;
}

.doing-section-list {
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.doing-section-list-item {
  width: 370px;
  height: 294px;
}

/* Секция наша команда */
.team-section {
  height: 648px;
  margin-top: 94px;
  background-color: #f5f4fa;
}

.team-section-header {
  margin-top: 0;
  margin-bottom: 0;
  padding: 94px 0 0 0;
  text-align: center;
  font-weight: bold;
  font-size: 2.57em;
  letter-spacing: 0.03em;
}

.team-section-list {
  width: 1170px;
  height: 368px;
  padding-left: 0;
  margin: 50px 215px 0 215px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.team-section-list-item {
  width: 270px;
  height: 368px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section-list-item-header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 1.14em;
  letter-spacing: 0.03em;
}

.team-section-list-item-paragraph {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  font-size: 1.14em;
  letter-spacing: 0.03em;
  color: #757575;
}

/* оформление подвала */
footer {
  height: 252px;
  background-color: #2f303a;
}

.logo-footer-container {
  width: 145px;
  height: 31px;
  padding: 60px 1240px 0 215px;
  text-align: center;
}

.logo-footer-link {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.85em;
  letter-spacing: 0.03em;
  color: #fff;
}

.address-footer-list {
  width: 231px;
  height: 81px;
  padding-left: 0;
  margin: 20px 1154px 0 215px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

.address-footer-list-item {
  font-style: normal;
}

.address-footer-list-item-link-address {
  text-decoration: none;
  color: #fff;
}

.address-footer-list-item-link-mailto,
.address-footer-list-item-link-tel {
  text-decoration: none;
  color: #fff;
}

/* Офорление контента portfolio.html */
.portfolio-section {
  width: 1170px;
  height: 1360px;
  margin: 94px 215px 94px 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-section-filters-list {
  width: 611px;
  height: 54px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.portfolio-section-filters-list-item {
  padding: 6px 22px;
  font-size: 1.14em;
  border: 0;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.portfolio-section-filters-list-item:hover {
  border-radius: 4px;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-section-sample-list {
  width: 1170px;
  height: 1272px;
  padding: 34px 215px 0 215px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.portfolio-section-sample-list-item {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background-color: #fff;
}

.portfolio-section-sample-list-item-header {
  width: 322px;
  height: 36px;
  margin: 20px 24px 0 24px;
  font-weight: bold;
  font-size: 1.29em;
}

.portfolio-section-sample-list-item-paragraph {
  width: 322;
  height: 30;
  margin: 4px 24px 0 24px;
  font-size: 1.14em;
  color: #757575;
}
