/* Исходные параметры для всей страницы */
body {
  width: 1600px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
  background: #fff;
}

/* блок с шапкой сайта */
.header-container {
  height: 80px;
  display: flex;
  border: 1px solid #ececec;
}

/* оформление навигации */
.nav-container {
  display: flex;
}

/* оформление логотипа */
.logo-link {
  width: 145px;
  height: 31px;
  margin-top: 24px;
  margin-left: 215px;
  text-decoration: none;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.85em;
  letter-spacing: 0.03em;
}

/* стилизация логотипа */
.logo-first-word {
  color: #2196f3;
}

/* навигационные ссылки */
.navigation-list {
  width: 294px;
  margin-top: 32px;
  margin-bottom: 0;
  margin-left: 93px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

/* ссылки с контактами в шапке сайта */
.contact-list {
  width: 307px;
  height: 16px;
  margin-top: 32px;
  margin-bottom: 0;
  margin-left: 331px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

/* общая стилизация ссылок в шапке сайта */
.navigation-link,
.mailto-link,
.tel-link {
  color: #212121;
  text-decoration: none;
  letter-spacing: 0.02em;
}

/* стилизация ссылок в шапке при наведении курсора */
.navigation-link:hover,
.mailto-link:hover,
.tel-link:hover {
  color: #2196f3;
}

/*                               */
/* Офорление контента index.html */
/*                               */

/* секия hero */
.hero-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: #2f303a;
}

/* заголовок секции hero */
.hero-header {
  width: 696px;
  height: 120px;
  margin-top: 200px;
  margin-bottom: 0;
  margin-left: 452px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.14em;
  letter-spacing: 0.06em;
  color: #fff;
}

/* кнопка перехода к заказу в секции hero */
.order-btn {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: 700px;
  border: 0;
  border-radius: 4px;
  font-size: 1.14em;
  background: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* стилизация кнопки перехода к заказу при наведении курсора */
.order-btn:hover {
  cursor: pointer;
}

/* секция особенности */
.features-container {
  width: 1170px;
  height: 101px;
  margin-top: 94px;
  margin-left: 215px;
  display: flex;
}

/* скрытые заголовки сайта */
.hidden-header {
  display: none;
}

/* секция особенности */

/* стилизация списка особенностей */
.features-list {
  width: 100%;
  height: 100%;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

/* размеры пунктов списка с особенностями */
.features-list-item {
  width: 270px;
  height: 101px;
}

/* заголовки в списках особенностей */
.features-list-item-header {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14em;
  letter-spacing: 0.03em;
}

/* параграфы в списках особенностей */
.features-list-item-paragraph {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}

/* Секция Чем мы занимаемся */

/* размеры и положение секции */
.doing-container {
  width: 1170px;
  height: 386px;
  margin-top: 94px;
  margin-left: 215px;
}

/* стилизация заговолков секции Чем мы занимаемся */
.doing-header {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  font-size: 2.57em;
  letter-spacing: 0.03em;
}

/* стилизация списка чем мы занимаемся*/
.doing-list {
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

/* размеры пунктов списка чем мы занимаемся */
.doing-list-item {
  width: 370px;
  height: 294px;
}

/* Секция наша команда */

/* размеры и положение секции */
.team-container {
  height: 648px;
  margin-top: 94px;
  background-color: #f5f4fa;
}

/* стилизация заголовков секции наша команда */
.team-header {
  margin-top: 0;
  margin-bottom: 0;
  padding: 94px 0 0 0;
  text-align: center;
  font-weight: bold;
  font-size: 2.57em;
  letter-spacing: 0.03em;
}

/* размеры и положение карточек сотрудников */
.team-list {
  width: 1170px;
  height: 368px;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 215px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

/* стилизация карточки сотрудника */
.team-list-item {
  width: 270px;
  height: 368px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* стилизация фамилии сотрудника */
.team-list-item-header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 1.14em;
  letter-spacing: 0.03em;
}

/* стилизация должности стотрудинка */
.team-list-item-paragraph {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  font-size: 1.14em;
  letter-spacing: 0.03em;
  color: #757575;
}

/* оформление подвала */

/* размеры и цвет подвала */
.footer-container {
  height: 252px;
  display: flex;
  flex-direction: column;
  background-color: #2f303a;
}

/* стилизация логотипа в подвале */
.logo-footer-link {
  width: 145px;
  height: 31px;
  margin-top: 60px;
  margin-left: 215px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.85em;
  letter-spacing: 0.03em;
  color: #fff;
}

/* стилизация списка с адресом и контактами для подвала*/
.address-footer-list {
  width: 231px;
  height: 81px;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 215px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

/* стилизция шрифта в списке с контактами для подвала */
.address-footer-list-item {
  font-style: normal;
}

/* стилизация ссылок с контакмами для подвала */
.address-footer-list-item-link-address {
  text-decoration: none;
  color: #fff;
}

/* стилизация ссылок на e-mail и телефон для подвала */
.address-footer-list-item-link-mailto,
.address-footer-list-item-link-tel {
  text-decoration: none;
  color: #fff;
}

/*                                   */
/* Офорление контента portfolio.html */
/*                                   */

/* размеры и расопложение секции портфолио */
.portfolio-container {
  width: 1170px;
  height: 1360px;
  margin-top: 94px;
  margin-bottom: 94px;
  margin-left: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* стилизация списка фильтров для портфолио  */
.filter-container {
  width: 611px;
  height: 54px;
}

.portfolio-filters-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

/* стилизация кнопки фильтра для портфолио */
.portfolio-filters-list-item {
  padding: 6px 22px;
  font-size: 1.14em;
  border: 0;
  border-radius: 4px;
  background-color: #f5f4fa;
}

/* изменения кнопки при наведении курсора */
.portfolio-filters-list-item:hover {
  border-radius: 4px;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* список, содержащий элементы портфолио */
.sample-container {
  width: 1170px;
  height: 1272px;
  margin-top: 34px;
}

.portfolio-sample-list {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  list-style-type: none;
}

/* размеры и стиль элемента портфолио */
.portfolio-sample-list-item {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background-color: #fff;
}

/* стилизация заголовка элемента портфолио */
.portfolio-sample-list-item-header {
  width: 322px;
  height: 36px;
  margin: 20px 24px 0 24px;
  font-weight: bold;
  font-size: 1.29em;
}

/* стилизация описания элемента портфолио */
.portfolio-sample-list-item-paragraph {
  width: 322;
  height: 30;
  margin: 4px 24px 0 24px;
  font-size: 1.14em;
  color: #757575;
}
